<%- include("templates/header") %>
    <h1> Hello World! </h1>


<a class="btn btn-success rounded-pill px-3" href="/signup">Sign up</a>
<a class="btn btn-success rounded-pill px-3" href="/login">Log in</a>

<%- include("templates/footer") %>
