<%- include("templates/header") %> 
<div class="d-flex gap-2 justify-content-center py-5" >
Hello, <%=username%>! <br> 
<div><a class="btn btn-success rounded-pill px-3" href='/members'> Go to Members Area</a> 
or <a class="btn btn-info rounded-pill px-3"  href='/logout'> Logout</a> 
</div>
</div>
<%- include("templates/footer") %> 