<%- include("templates/header") %>

<form action='/loggingin' method='post'>
<div><input name='email' type='email' placeholder='email'></div>
<div><input name='password' type='password' placeholder='password'></div>
<button>Submit</button>
</form>

<%- include("templates/footer") %>