<%- include("templates/header") %>

<!-- <img src='${selectedImage}' alt='random image'>   -->
<div><button><a href="/logout">Sign Out</a></button></div>

<%- include("templates/footer") %>




<!-- // var name = await userCollection.find({ email: req.session.email }).project({}).toArray();

// const images = ['1.png', '2.png', '3.png'];
// const selectedImage = images[Math.floor(Math.random() * images.length)];

// res.send(`<h1>Hello ${name[0].username}</h1>
// `) -->